<div class="row">
	<div class="col-sm-12">

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person1[0].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[0].name %></h4>
			        <p> <%= @person1[0].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-3 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person1[1].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[1].name %></h4>
			        <p> <%= @person1[1].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-3 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person1[2].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[2].name %></h4>
			        <p> <%= @person1[2].officer %> </p>
			      </div>
			    </div>
			    
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-2 col-sm-offset-2">

			 	<div class="thumbnail">
			      <%= image_tag @person1[3].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[3].name %></h4>
			        <p> <%= @person1[3].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person1[4].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[4].name %></h4>
			        <p> <%= @person1[4].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person1[5].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[5].name %></h4>
			        <p> <%= @person1[5].officer %> </p>
			      </div>
			    </div>
			    
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-2 col-sm-offset-2">

			 	<div class="thumbnail">
			      <%= image_tag @person1[6].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[6].name %></h4>
			        <p> <%= @person1[6].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person1[7].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[7].name %></h4>
			        <p> <%= @person1[7].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person1[8].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[8].name %></h4>
			        <p> <%= @person1[8].officer %> </p>
			      </div>
			    </div>
			    
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-3">

			 	<div class="thumbnail">
			      <%= image_tag @person1[9].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[9].name %></h4>
			        <p> <%= @person1[9].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			 <div class="col-sm-3">

			 	<div class="thumbnail">
			      <%= image_tag @person1[10].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[10].name %></h4>
			        <p> <%= @person1[10].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			 <div class="col-sm-3">

			 	<div class="thumbnail">
			      <%= image_tag @person1[11].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[11].name %></h4>
			        <p> <%= @person1[11].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			 <div class="col-sm-3">

			 	<div class="thumbnail">
			      <%= image_tag @person1[12].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[12].name %></h4>
			        <p> <%= @person1[12].officer %> </p>
			      </div>
			    </div>
			    
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person1[13].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[13].name %></h4>
			        <p> <%= @person1[13].officer %> </p>
			      </div>
			    </div>
			</div>

			<div class="col-sm-2">

			 	<div class="thumbnail">
			      <%= image_tag @person1[14].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[14].name %></h4>
			        <p> <%= @person1[14].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-2">

			 	<div class="thumbnail">
			      <%= image_tag @person1[15].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[15].name %></h4>
			        <p> <%= @person1[15].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-2">

			 	<div class="thumbnail">
			      <%= image_tag @person1[16].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[16].name %></h4>
			        <p> <%= @person1[16].officer %> </p>
			      </div>
			    </div>
			    
			</div>

			<div class="col-sm-2">

			 	<div class="thumbnail">
			      <%= image_tag @person1[17].avatar.url %>
			      <div class="caption">
			        <h4><%= @person1[17].name %></h4>
			        <p> <%= @person1[17].officer %> </p>
			      </div>
			    </div>
			    
			</div>
		</div>


	</div>
</div>