<div class="row">
	<div class="col-sm-12">
		
		<div class="row">
			 <div class="col-sm-4 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[0].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[0].name %></h4>
			        <p> <%= @person4[0].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[1].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[1].name %></h4>
			        <p> <%= @person4[1].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-4 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[2].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[2].name %></h4>
			        <p> <%= @person4[2].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[3].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[3].name %></h4>
			        <p> <%= @person4[3].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-4 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[4].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[4].name %></h4>
			        <p> <%= @person4[4].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[5].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[5].name %></h4>
			        <p> <%= @person4[5].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[6].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[6].name %></h4>
			        <p> <%= @person4[6].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[7].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[7].name %></h4>
			        <p> <%= @person4[7].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[8].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[8].name %></h4>
			        <p> <%= @person4[8].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-4 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person4[9].avatar.url %>
			      <div class="caption">
			        <h4><%= @person4[9].name %></h4>
			        <p> <%= @person4[9].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

	</div>
</div>