<div class="row">
	<div class="col-sm-12">

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person3[0].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[0].name %></h4>
			        <p> <%= @person3[0].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-2 col-sm-offset-2">

			 	<div class="thumbnail">
			      <%= image_tag @person3[1].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[1].name %></h4>
			        <p> <%= @person3[1].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person3[2].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[2].name %></h4>
			        <p> <%= @person3[2].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person3[3].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[3].name %></h4>
			        <p> <%= @person3[3].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-2 col-sm-offset-2">

			 	<div class="thumbnail">
			      <%= image_tag @person3[4].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[4].name %></h4>
			        <p> <%= @person3[4].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person3[5].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[5].name %></h4>
			        <p> <%= @person3[5].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person3[6].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[6].name %></h4>
			        <p> <%= @person3[6].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-2 col-sm-offset-1">

			 	<div class="thumbnail">
			      <%= image_tag @person3[7].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[7].name %></h4>
			        <p> <%= @person3[7].officer %> </p>
			      </div>
			    </div>

			</div>
			<div class="col-sm-2 col-sm-offset-6">

			 	<div class="thumbnail">
			      <%= image_tag @person3[8].avatar.url %>
			      <div class="caption">
			        <h4><%= @person3[8].name %></h4>
			        <p> <%= @person3[8].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>


	</div>
</div>