<!-- <div class="row">
	<div class="col-sm-12">
		<div class="row">
			<ul class="test">
				<li>Head</li>
			</ul>
		</div>

		<div class="row">
			<ul class="test">
				<li>sub-1</li>
				<li>sub-2</li>
				<li>sub-3</li>
			</ul>
		</div>

	</div>
</div> -->

<div class="row">
	<div class="col-sm-12">

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-4">

			 	<div class="thumbnail">
			      <%= image_tag @person5[0].avatar.url %>
			      <div class="caption">
			        <h4><%= @person5[0].name %></h4>
			        <p> <%= @person5[0].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person5[1].avatar.url %>
			      <div class="caption">
			        <h4><%= @person5[1].name %></h4>
			        <p> <%= @person5[1].officer %> </p>
			      </div>
			    </div>

			</div>

			<div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person5[2].avatar.url %>
			      <div class="caption">
			        <h4><%= @person5[2].name %></h4>
			        <p> <%= @person5[2].officer %> </p>
			      </div>
			    </div>

			</div>

			<div class="col-sm-4">

			 	<div class="thumbnail">
			      <%= image_tag @person5[3].avatar.url %>
			      <div class="caption">
			        <h4><%= @person5[3].name %></h4>
			        <p> <%= @person5[3].officer %> </p>
			      </div>
			    </div>

			</div>
		</div>

		
	</div>
</div>