<% title 'โครงสร้างองค์กร' %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1 event">
		<h2>โครงสร้างองค์กร</h2>
	</div>

	<div class="col-sm-10 col-sm-offset-1 event">
		<div class="row">
			<!-- Nav tabs -->
			<ul class="custom-nav" role="tablist" id="myTab">
			  <li><a href="#chart1" role="tab" data-toggle="tab">สำนักงานปลัด</a></li>
			  <li><a href="#chart2" role="tab" data-toggle="tab">กองคลัง</a></li>
			  <li><a href="#chart3" role="tab" data-toggle="tab">กองช่าง</a></li>
			  <li><a href="#chart4" role="tab" data-toggle="tab">กองการศึกษา</a></li>
			  <li><a href="#chart5" role="tab" data-toggle="tab">กองสาธารณสุข</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

			  <div class="tab-pane fade" id="chart1">
			  	<%= render 'chart/chart1' %>
			  </div>

			  <div class="tab-pane fade" id="chart2">
			  	<%= render 'chart/chart2' %>
			  </div>

			  <div class="tab-pane fade" id="chart3">
				<%= render 'chart/chart3' %>
			  </div>

			  <div class="tab-pane fade" id="chart4">
			  	<%= render 'chart/chart4' %>
			  </div>

			  <div class="tab-pane fade" id="chart5">
			  	<%= render 'chart/chart5' %>
			  </div>

			</div>

		</div>
	</div>
</div>


<script type="text/javascript">
	$('#myTab a:first').tab('show')
</script>



