<% title 'สมาชิกสภา ทต.' %>

<div class="row">
	<div class="col-sm-12 event">
		<h2>สมาชิกสภา ทต.</h2>
	</div>

	<div class="col-sm-10 col-sm-offset-1 event">

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-4">
				<div class="thumbnail">

			      <%= image_tag @con[0].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[0].name %></h4>
			        <p> <%= @con[0].officer %> </p>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-4">
				<div class="thumbnail">

			      <%= image_tag @con[1].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[1].name %></h4>
			        <p> <%= @con[1].officer %> </p>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-1">
				<div class="thumbnail">

			      <%= image_tag @con[2].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[2].name %></h4>
			        <p> <%= @con[2].officer %> </p>
			      </div>

			    </div>
			</div>

			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">

			      <%= image_tag @con[3].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[3].name %></h4>
			        <p> <%= @con[3].officer %> </p>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-1">
				<div class="thumbnail">

			      <%= image_tag @con[4].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[4].name %></h4>
			        <p> <%= @con[4].officer %> </p>
			      </div>

			    </div>
			</div>

			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">

			      <%= image_tag @con[5].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[5].name %></h4>
			        <p> <%= @con[5].officer %> </p>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-1">
				<div class="thumbnail">

			      <%= image_tag @con[6].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[6].name %></h4>
			        <p> <%= @con[6].officer %> </p>
			      </div>

			    </div>
			</div>

			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">

			      <%= image_tag @con[7].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[7].name %></h4>
			        <p> <%= @con[7].officer %> </p>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-1">
				<div class="thumbnail">

			      <%= image_tag @con[8].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[8].name %></h4>
			        <p> <%= @con[8].officer %> </p>
			      </div>

			    </div>
			</div>

			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">

			      <%= image_tag @con[9].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[9].name %></h4>
			        <p> <%= @con[9].officer %> </p>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			 <div class="col-sm-4 col-sm-offset-1">
				<div class="thumbnail">

			      <%= image_tag @con[10].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[10].name %></h4>
			        <p> <%= @con[10].officer %> </p>
			      </div>

			    </div>
			</div>

			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">

			      <%= image_tag @con[11].avatar.url %>

			      <div class="caption">
			        <h4><%= @con[11].name %></h4>
			        <p> <%= @con[11].officer %> </p>
			      </div>

			    </div>
			</div>
		</div>

	</div>
</div>
