<% title 'คณะผู้บริหาร' %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1 event">
		<h2>คณะผู้บริหาร</h2>
	</div>

	<div class="col-sm-10 col-sm-offset-1 event">
		<div class="row">
			 <div class="col-sm-4 col-sm-offset-4">
				<div class="thumbnail">

			      <%= image_tag(@m1.avatar.url) %>

			      <div class="caption">
			        <h4><%= @m1.name %></h4>
			        <center><p> <%= @m1.officer %> </p></center>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="thumbnail">

			      <%= image_tag(@m2.avatar.url) %>

			      <div class="caption">
			        <h4><%= @m2.name %></h4>
			        <center><p> <%= @m2.officer %> </p></center>
			      </div>

			    </div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">

			      <%= image_tag(@m3.avatar.url) %>

			      <div class="caption">
			        <h4><%= @m3.name %></h4>
			        <center><p> <%= @m3.officer %> </p></center>
			      </div>

			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="thumbnail">

			      <%= image_tag(@m4.avatar.url) %>

			      <div class="caption">
			        <h4><%= @m4.name %></h4>
			        <center><p> <%= @m4.officer %> </p></center>
			      </div>

			    </div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">

			      <%= image_tag(@m5.avatar.url) %>

			      <div class="caption">
			        <h4><%= @m5.name %></h4>
			        <center><p> <%= @m5.officer %> </p></center>
			      </div>

			    </div>
			</div>
		</div>

	</div>
</div>
