<% title 'Home' %>

<div class="row">
	<div class="bs-example">
	    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	      <ol class="carousel-indicators">
	        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active">
	          <%= image_tag(EventImage.where(event_id: @events.first.id).first.image.url(:cover)) %>
	        </div>
	        <div class="item">
	          <%= image_tag(EventImage.where(event_id: @events[1].id).first.image.url(:cover)) %>
	        </div>
	        <div class="item">
	          <%= image_tag(EventImage.where(event_id: @events.last.id).first.image.url(:cover)) %>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left"></span>
	      </a>
	      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right"></span>
	      </a>
	    </div>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
  	<marquee behavior="scroll" direction="left">Your scrolling text goes here</marquee>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12" style="margin-bottom: 20px;">
  	<%= image_tag("cover.jpg", :class => "img-dummy") %>
  </div>
</div> -->

<div class="row">
	<div class="col-sm-12 head-title" >
		<div class="featured-title">
			<div class="ribbon"><span>ผลงานและข่าวสาร</span></div>
		</div>
	</div>

	<div class="col-sm-12" >
		<div class="col-sm-4" >
			<%= image_tag("290x170.jpg", :class => "img-dummy") %>
			<h4><%= @news1.title %></h4>
			<p><%= @news1.category %></p>
		</div>
		<div class="col-sm-4" >
			<%= image_tag("290x170.jpg", :class => "img-dummy") %>
			<h4><%= @news2.title %></h4>
			<p><%= @news2.category %></p>
		</div>
		<div class="col-sm-4" >
			<%= image_tag("290x170.jpg", :class => "img-dummy") %>
			<h4><%= @news3.title %></h4>
			<p><%= @news3.category %></p>
		</div>
		<div class="col-sm-4" >
			<%= image_tag("290x170.jpg", :class => "img-dummy") %>
			<h4><%= @doc1.title %></h4>
			<p><%= @doc1.category %></p>
		</div>
		<div class="col-sm-4" >
			<%= image_tag("290x170.jpg", :class => "img-dummy") %>
			<h4><%= @doc2.title %></h4>
			<p><%= @doc2.category %></p>
		</div>
		<div class="col-sm-4" >
			<%= image_tag("290x170.jpg", :class => "img-dummy") %>
			<h4><%= @doc3.title %></h4>
			<p><%= @doc3.category %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 box-last">
    	<div class="col-sm-4 space">
      		<%= image_tag("290x170.jpg", :class => "img-last") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= image_tag("290x170.jpg", :class => "img-last") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= image_tag("290x170.jpg", :class => "img-last") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= image_tag("290x170.jpg", :class => "img-last") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= image_tag("290x170.jpg", :class => "img-last") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= image_tag("290x170.jpg", :class => "img-last") %>
    	</div>
	</div>
</div>




