<% title 'หน้าแรก' %>

<div class="row">
	<div class="bs-example">
	    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	      <ol class="carousel-indicators">
	        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active">
	          <%= image_tag(@settings.slide1.url(:cover) %>
	        </div>
	        <div class="item">
	          <%= image_tag(@settings.slide2.url(:cover) %>
	        </div>
	        <div class="item">
	          <%= image_tag(@settings.slide3.url(:cover) %>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left"></span>
	      </a>
	      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right"></span>
	      </a>
	    </div>
	</div>
</div>

<div class="row mar">
  <div class="col-md-12">
  	<marquee behavior="scroll" direction="left" scrollamount="3"><%= @settings.content %></marquee>
  </div>
</div>

<div class="row pic">
  <div class="col-md-12" style="margin-bottom: 20px;">
  	<%= image_tag("cover.jpg", :class => "img-dummy") %>
  </div>
</div>

<div class="row">
	<div class="col-sm-12 head-title" >
		<div class="featured-title">
			<div class="ribbon"><span>ผลงานและข่าวสาร</span></div>
		</div>
	</div>

	<div class="col-md-12 shot-link">
		<div class="col-sm-4 " >
			<%= link_to(image_tag("news.png", :class => "img-dummy"), information_path) %>
			<h4> <%= link_to(@news1.title, news_path(@news1)) %> </h4>
			<center><p class="sub"><%= @news1.category %></p></center>
		</div>
		<div class="col-sm-4" >
			<%= link_to(image_tag("news.png", :class => "img-dummy"), purchasing_path) %>
			<h4><%= link_to(@news2.title, news_path(@news2)) %></h4>
			<center><p class="sub"><%= @news2.category %></p></center>
		</div>
		<div class="col-sm-4" >
			<%= link_to(image_tag("news.png", :class => "img-dummy"), recruit_path) %>
			<h4><%= link_to(@news3.title, news_path(@news3)) %></h4>
			<center><p class="sub"><%= @news3.category %></p></center>
		</div>
		<div class="col-sm-4" >
			<%= link_to(image_tag("reports.png", :class => "img-dummy"), forums_path) %>
			<h4><%= link_to(@doc1.title, forum_path(@doc1)) %></h4>
			<center><p class="sub"><%= @doc1.category %></p></center>
		</div>
		<div class="col-sm-4" >
			<%= link_to(image_tag("reports.png", :class => "img-dummy"), conference_path) %>
			<h4><%= link_to(@doc2.title, report_path(@doc2)) %></h4>
			<center><p class="sub"><%= @doc2.category %></p></center>
		</div>
		<div class="col-sm-4" >
			<%= link_to(image_tag("reports.png", :class => "img-dummy"), budget_path) %>
			<h4><%= link_to(@doc3.title, report_path(@doc3)) %></h4>
			<center><p class="sub"><%= @doc3.category %></p></center>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 box-last">
    	<div class="col-sm-4 space">
      		<%= link_to(image_tag("last1.png", :class => "img-last"), "http://www.dla.go.th") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= link_to(image_tag("last2.png", :class => "img-last"), "http://www.ratchakitcha.soc.go.th") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= link_to(image_tag("last3.png", :class => "img-last"), "http://www.datacenter.soc.go.th") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= link_to(image_tag("last4.png", :class => "img-last"), "http://www.krisdika.go.th/wps/portal/general") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= link_to(image_tag("last5.png", :class => "img-last"), "http://www.admincourt.go.th/00_web/") %>
    	</div>
    	<div class="col-sm-4 space" >
      		<%= link_to(image_tag("last6.png", :class => "img-last"), "http://www.socgg.soc.go.th/DrivingMechanism.htm") %>
    	</div>
	</div>
</div>




