<% title 'ภาพกิจกรรม' %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1 event">
		<h2>ภาพกิจกรรม</h2>
	</div>
	<% @events.each do |e| %>
		<div class="col-sm-10 col-sm-offset-1 event line">
			<div class="col-sm-5 event-img">
				<%= link_to(image_tag(EventImage.find_by_event_id(e.id).image.url(:event_teaser)), event_path(e))  %>
			</div>

			<div class="col-sm-7 event-content">
				<h3><%= link_to(e.title, event_path(e)) %></h3>
				<p><%= e.content.truncate(100) %> </p>
			</div>
			<h5> <%= fa_icon "picture-o", text: EventImage.where(event_id: e.id).count %> | <%= fa_icon "calendar", text: e.created_at.strftime("%d-%m-%Y") %></h5>
		</div>
	<% end %>
	<div class="col-sm-10 col-sm-offset-1" id="page">
	  <%= paginate @events %>
	</div>
</div>
