
<div class="row">
	<% @events.each do |e| %>
		<div class="col-sm-8 col-sm-offset-2">
			<div class="col-sm-12">
				<%= link_to(e.title, event_path(e.id)) %>
			</div>

			<div class="col-sm-3">
				<%= image_tag(EventImage.find_by_event_id(e.id).image.url(:slide)) %>
			</div>

			<div class="col-sm-4">
				<p> <h4> หัวข้อภาพ: <%= e.title %></h4> </p>
				<p> <h4>  จำนวนภาพ: <%= EventImage.where(event_id: e.id).count %> </p> </h4>
				<p> <h4> วันที่: <%= e.created_at.strftime("%d-%m-%Y") %> </p> </h4>
			</div>

			<div class="col-sm-4">
				<p><%= e.content %></p>
			</div>
		</div>
	<% end %>
</div>
