

    <div class="col-md-12">
        <ul class="nav animated">
            <li>
                <a href="#">ทต. ปากน้ำ </a>
                <div class="container-1 left">
                    <ul class="ula">
                        <li><%= link_to("ข้อมูลทั่วไป", vision_path) %></li>
                    </ul>
                </div>
            </li>
            <li><%= link_to("หนังสือราชการ ทต.", forums_path ) %></li>
            <li><%= link_to("ภาพกิจกรรม", events_path ) %></li>
            <li><a href="#">รายงาน</a>
                <div class="container-1 left">
                    <ul class="ula">
                        <li><%= link_to("รายงานการเงิน", budget_path) %></li>
                        <li><%= link_to("รายงานการประชุม", conference_path ) %></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">ข่าว ทต.</a>
                <div class="container-1 left">
                    <ul class="ula">
                        <li><%= link_to("ข่าวประชาสัมพันธ์", information_path ) %></li>
                        <li><%= link_to("ข่าวจัดซื้อจัดจ้าง", purchasing_path ) %></li>
                        <li><%= link_to("ข่าวสมัครงาน", recruit_path ) %></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">บุคลากร</a>
                <div class="container-1 left">
                    <ul class="ula">
                        <li><%= link_to("ปลัดเทศบาล", "organize_1") %></li>
                        <li><%= link_to("คณะผู้บริหาร", "organize_2") %></li>
                        <li><%= link_to("สมาชิกสภา ทต.", "organize_3") %></li>
                        <li><%= link_to("พนักงานเจ้าหน้าที่", "organize_4") %></li>
                    </ul>
                </div>
            </li>
            <li><%= link_to("ติดต่อเรา", contact_path) %></li>
            
        </ul>

    <!-- <div class="col-md-1 hidden-sm hidden-xs hidden-md soc no-pad">
        <%= link_to image_tag("facebook.png"), "#" %>
        <%= link_to image_tag("twitter.png"), "#" %>
    </div>
 -->
</div>