<div class="bs-example">
  <table class="table table-hover table-bordered pdf-only">
      <thead>
        <tr>
          <th></th>
          <th>หัวข้อเอกสาร</th>
          <th>วันที่</th>
          <th>PDF</th>
        </tr>
      </thead>
      <tbody>
        <% @docs.each_with_index do |d,index| %>
              <tr>
                <td> <center> <%= index+1 %> </center></td>
                <td><%= link_to(d.title, d.file.url, :target => "_blank") %></td>
                <td><center><%= d.created_at.strftime("%d-%m-%Y") %></center></td>
                <td><center><%= link_to "<i class='fa fa-file-pdf-o fix-i'></i> Download file".html_safe, d.file.url %><center></td>
              </tr>
          <% end %>
      </tbody>
    </table>
</div>

<!-- file-pdf-o
<div class="bs-example">

        <table class="table">
          <thead>
            <tr>
              <th>หัวข้อเอกสาร</th>
              <th>วันที่</th>
            </tr>
          </thead>
          <tbody>
            <% @docs.each do |d| %>
              <tr>
                <td><%= link_to(d.title, news_path(d.id)) %></td>
                <td><%= d.created_at.strftime("%d-%m-%Y") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    </div> -->

